components:
  schemas:
    CreateUserDto:
      properties:
        doc_type:
          description: Tipo de documento (CPF ou CNPJ)
          enum:
            - cpf
            - cnpj
          type: string
        document:
          description: CPF ou CNPJ do usuário
          type: string
        email:
          description: Email do usuário
          type: string
        full_name:
          description: Nome completo do usuário
          type: string
        password:
          description: Senha do usuário
          type: string
        phone:
          description: Telefone do usuário
          type: string
        social_name:
          description: Nome social do usuário
          type: string
      required:
        - full_name
        - document
        - doc_type
        - email
        - password
      type: object
    DeleteUserDto:
      properties: {}
      type: object
    ForgotPasswordDto:
      properties:
        email:
          description: Email do usuário para recuperação de senha
          example: usuario@exemplo.com
          type: string
      required:
        - email
      type: object
    LoginDto:
      properties:
        email:
          description: Email do usuário
          example: usuario@exemplo.com
          type: string
        password:
          description: Senha do usuário
          example: senha123
          type: string
      required:
        - email
        - password
      type: object
    UpdateUserDto:
      properties:
        full_name:
          description: Nome completo do usuário
          type: string
        phone:
          description: Telefone do usuário
          type: string
        social_name:
          description: Nome social do usuário
          type: string
      required:
        - full_name
        - social_name
        - phone
      type: object
    UserDto:
      properties:
        created_at:
          description: Data de criação
          format: date-time
          type: string
        document:
          description: Documento do usuário
          type: string
        email:
          description: Email do usuário
          type: string
        full_name:
          description: Nome completo do usuário
          type: string
        id:
          description: ID do usuário
          type: number
        phone:
          description: Telefone do usuário
          type: string
        social_name:
          description: Nome social do usuário
          type: string
        updated_at:
          description: Data de atualização
          format: date-time
          type: string
      required:
        - id
        - full_name
        - email
        - document
        - created_at
        - updated_at
      type: object
  securitySchemes:
    bearer:
      bearerFormat: JWT
      scheme: bearer
      type: http
info:
  contact: {}
  description: API para o projeto QA Engineering Lab
  title: QA Engineering Lab API
  version: "1.0"
openapi: 3.0.0
paths:
  /auth/login:
    post:
      operationId: AuthController_login
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginDto"
        required: true
      responses:
        "200":
          description: Login realizado com sucesso
        "401":
          description: A senha não confere.
        "404":
          description: Usuário não encontrado.
        "500":
          description: Erro ao realizar login
      summary: Realizar login
      tags:
        - auth
  /auth/logout:
    post:
      operationId: AuthController_logout
      parameters: []
      responses:
        "200":
          description: Logout realizado com sucesso
      summary: Realizar logout
      tags:
        - auth
  /healthy:
    get:
      operationId: HealthyController_healthy
      parameters: []
      responses:
        "200":
          description: Sistema saudável
        "503":
          description: Sistema indisponível
      summary: Verificar saúde do sistema
      tags:
        - healthy
  /password-recovery/forgot-password:
    post:
      operationId: PasswordRecoveryController_forgotPassword
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForgotPasswordDto"
        required: true
      responses:
        "200":
          description: Um e-mail foi enviado com instruções para recuperar a senha.
        "404":
          description: Usuário não encontrado.
        "500":
          description: Internal server error.
      summary: Solicitar recuperação de senha
      tags:
        - password-recovery
  /users:
    get:
      operationId: UsersController_findAll
      parameters: []
      responses:
        "200":
          description: Lista de usuários retornada com sucesso.
        "404":
          description: Nenhum usuário encontrado.
        "500":
          description: Internal server error.
      security:
        - bearer: []
      summary: Listar todos os usuários
      tags:
        - users
    post:
      operationId: UsersController_create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserDto"
        required: true
      responses:
        "201":
          description: Usuário criado com sucesso!
        "409":
          description: CPF/CNPJ ou email já está em uso.
        "500":
          description: Internal server error.
      summary: Criar um novo usuário
      tags:
        - users
  /users/delete:
    delete:
      operationId: UsersController_delete
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteUserDto"
        required: true
      responses:
        "200":
          description: Usuários excluídos com sucesso
        "400":
          description: Você não pode excluir o usuário logado.
        "404":
          description: Nenhum usuário encontrado para excluir
        "500":
          description: Internal server error.
      security:
        - bearer: []
      summary: Excluir usuários
      tags:
        - users
  /users/me:
    get:
      operationId: UsersController_getMe
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
          description: Usuário encontrado
        "404":
          description: Usuário não encontrado
        "500":
          description: Internal server error.
      security:
        - bearer: []
      summary: Buscar dados do usuário logado
      tags:
        - users
    patch:
      operationId: UsersController_update
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDto"
          description: Usuário alterado com sucesso!
        "404":
          description: Usuário não encontrado para atualizar!
        "500":
          description: Internal server error.
      security:
        - bearer: []
      summary: Atualizar dados do usuário logado
      tags:
        - users
servers:
  - url: http://localhost:3001
    description: Servidor local para os testes do Postman
tags: []
